/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body{
  margin: 0 auto;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media(max-width: 834px) {
  .container {
    width: 95%;
  }
  .container__form {
    margin-top: 40px;
    margin-left: 0;
  }
}


body {
  margin: 0;
}

html, body {
  height: 100%;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
  background-color: rgb(172, 222, 255);
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
